[submodule "auth-service"]
	path = auth-service
	url = https://github.com/JacoTome/auth-service.git
[submodule "databases-service"]
	path = databases-service
	url = https://github.com/JacoTome/databases-service.git
[submodule "eureka-service"]
	path = eureka-service
	url = https://github.com/JacoTome/eureka-service.git
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/JacoTome/gateway-service.git
